# Pre-commit hooks for Jupyter notebook management
# Install pre-commit: pip install pre-commit
# Then run: pre-commit install

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        args: ['--extra-keys', 'metadata.language_info.version metadata.language_info.pygments_lexer metadata.language_info.codemirror_mode.version metadata.language_info.codemirror_mode']
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']

